 # This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.
[include KAMP_Settings.cfg]
[include mainsail.cfg]
[virtual_sdcard]
path: /home/killshotio/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[exclude_object]

[idle_timeout] 
timeout: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999
[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 255
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: -8
position_min: -8
position_max: 235
homing_speed: 70

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
#endstop_pin: ^PA7
endstop_pin: probe:z_virtual_endstop
position_min: -10
#position_endstop: 0

position_max: 250

[extruder]
max_extrude_only_distance: 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
pressure_advance: 0.46 #Pla setting .07 for .28 layer height .02 for colorful filament, .46 for petg hyper 25mm wall speed
rotation_distance: 29.961552784
nozzle_diameter:0.600
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_extrude_temp: 170
min_temp: 0
max_temp: 300
max_extrude_cross_section: 5 

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130



[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 4000
max_z_velocity: 5
max_z_accel: 100

######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT. See docs/Slicers.md for more information on using these macros.


[gcode_macro START_PRINT]
gcode:
                            
 G90 ;Absolute positioning
 M220 S100 ;Reset Feedrate
 M221 S100 ;Reset Flowrate
 {% set BED_TEMP = params.BED_TEMP|default(90)|float %}
 {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(230)|float %}
 M104 S{EXTRUDER_TEMP}  
 M140 S{BED_TEMP}
  G28 ; Home all axes
 BED_MESH_CALIBRATE 
 M109 S{EXTRUDER_TEMP}
 M190 S{BED_TEMP}
 LINE_PURGE
 



[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X200 Y230 Z80 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Disable steppers
    M84

    ######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

######################################################################
# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
######################################################################

# This section is used for a Creality "12864" display with a single
# ribbon cable between the display's EXP3 plug and the
# micro-controller board's EXP1 connector.

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 90

[board_pins]
aliases:
  EXP1_1=PC6,EXP1_3=PB10,EXP1_5=PB14,EXP1_7=PB12,EXP1_9=<GND>,
  EXP1_2=PB2,EXP1_4=PB11,EXP1_6=PB13,EXP1_8=PB15,EXP1_10=<5V>,
  PROBE_IN=PB0,PROBE_OUT=PB1,FIL_RUNOUT=PC6

[gcode_macro FILAMENT_LOAD]
gcode:
 M83                   # Put the extruder into relative mode
   G1 X125 Y50 Z150              ; move to servicing position
 SET_HEATER_TEMPERATURE HEATER=extruder TARGET=270
 G1 E100 F350          # Move the extruder forward 120mm at a speed of 350mm/minute
 G92 E0.0              # Reset the extruder again
 M82                   # Put the extruder back into absolute mode.

[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 X125 Y50 Z150              ; move to servicing position
   SET_HEATER_TEMPERATURE HEATER=extruder TARGET=270
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-10 F3000                  ; jerk the filament out of the melt zone
   G1 E-50 F1800                  ; retract the rest of the way
   G1 E-10 F900                   ; retract the rest of the way
   M82  
[include moonraker_obico_macros.cfg]

[gcode_macro Servicing_Position]
gcode:
 M83
 G1 X125 Y50 Z150             ; move to servicing position
 M82 

[gcode_macro Preheat]
gcode:

  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=270
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=90

[gcode_macro Servicing_Position_and_Heat]
gcode:
 M83
  G1 X125 Y50 Z150  
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=270
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=90
  M82

[gcode_macro Finish_Print]
gcode:
 M83
 G1 X200 Y230 Z80
 M82

[gcode_macro READ_TEMP]
gcode:
    READ_TEMP


[gcode_macro Remove_Parts]
gcode:
    G4 P30000
    G1 X70 Y230 Z 150
    G1 X70 Y230 Z .9
    G1 X70 Y0 Z .9

##################
## BETA VERSION ##
##################

########################
## Basic instructions ##
########################

#With this config you will set the probe as your z endstop. This makes the initial setup a bit more tricky than with the Rev1.
#The printer will set you bed position as Z0 (because it probes on that).
#You have to roughtly position the Probe_Retainer for the first setup before you can set the final position. The !top! of the arm has to be roughtly 1mm above the bed.
#To find the perfect position of the Probe_Retainer you have to home the z axis. After this the probe will be at the new Z0 position.
#Place the Probe_Retainer close to the block so there's just a small gap between them.

##Attention!##
#Youre using the Probe as your Z endstop. This means that the position Z0 is also affected by your Z offset.
#Keeep that in mind when positioning the Probe_Retainer
#You might have to change the position of the Probe_Retainer after you set your z offset (0.x mm changes wouldn't changes that much but for everything >1mm you should check its positioning).
#And a kindly reminder to adapt the [probe] pin, set the virtual endstop, set the y min posistion.

##################################
## Add this to your printer.cfg ##
################################## 
#####################################################################
#	KlackEnder- Settings
#####################################################################

# !! Change your Z endstop pin from 'endstop_pin: Pin123' to 'endstop_pin: probe:z_virtual_endstop'
# !! Also add in [stepper_y] 'position_min: -8'. Idk why but most configs mave this wrong. For the Stock Ender 3 the homed Y position is -8.

#[safe_z_home]
#home_xy_position: 150, 125
#speed: 100
#z_hop:10
#z_hop_speed:5

[probe]
pin: ^PA7 #Change to where you plug your probe in, endstop or probe pin pulled high (^)
#z_offset: 0 #Measure per your specific setup
x_offset: 4 # negative = left of the nozzle
y_offset: 21 # negative = in front of of the nozzle
speed: 15
lift_speed: 20.0
sample_retract_dist: 1
samples: 2
samples_tolerance_retries: 6

##[(7x7)-1] / 2 = 24
##[(5x5)-1] / 2 = 12
[bed_mesh]
speed: 600
horizontal_move_z: 10
mesh_min: 8,30
mesh_max: 223,201
probe_count: 7,7
zero_reference_position: 117.5, 117.5 #This is the position where your nozzle homes to Z0. Adjust according to you setup
algorithm: bicubic
fade_start: 1
fade_end: 10
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
split_delta_z: 0.015
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
move_check_distance: 3
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 4,4
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.

[homing_override]
axes: z
set_position_z:0 # Make printer think Z axis is at zero, so we can force a move upwards away from build plate
gcode:
    G90
    G1 Z10 F3000 ; move up to prevent accidentally scratching build plate    
    {% if "x" not in (printer.toolhead.homed_axes | lower) %}
        G28 X
    {% endif %}
    {% if "y" not in (printer.toolhead.homed_axes | lower) %}
        G28 Y        #Will only home XY if they are not currently homed
    {% endif %}
    PROBE_IN
    G1 X117 Y117 F6000
    G28 Z
    PROBE_OUT

##For Dual Z setups only!! (with indipendent motors, no Y splitters or dual Z port on board!)##
#[z_tilt]
#z_positions:
  #  0,117
   # 235,117
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
#points:
   # 4,96.5
   # 219,96.5
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
#speed: 100
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 15
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#retries: 10
#   Number of times to retry if the probed points aren't within
#   tolerance.
#retry_tolerance: 0.01
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

#####################################################################
#	KlackEnder- Macros
#####################################################################

[gcode_macro PROBE_OUT]
gcode:
    G90
    G1 Z10
    G1 X245 F4000
     G1 Y-8
       G1 Z0
    G4 P300
    G1 X220 F6000
    G1 Z10
    G1 X0

[gcode_macro PROBE_IN]
gcode:
    G90
    G1 Z20
    G1 X245 F20000
    G1 Y-8 #Check this against your config of [stepper_y] position_min: ...!

#[gcode_macro BED_MESH_CALIBRATE]
#rename_existing: _BED_MESH_CALIBRATE
#gcode:
 # PROBE_OUT
  #_BED_MESH_CALIBRATE 
  #PROBE_IN

[gcode_macro G29]
gcode:
    PROBE_OUT
    BED_MESH_CALIBRATE ADAPTIVE=1
    #G1 Y0 F20000
    PROBE_IN

[gcode_macro PROBE_CALIBRATE]
rename_existing: _PROBE_CALIBRATE
gcode:
    {% if not 'xyz' in printer.toolhead.homed_axes %}
    G28
    {% endif %}
    PROBE_OUT
    G90
    G1 Z20
    G1 X115 Y115 F20000
    _PROBE_CALIBRATE
    TESTZ Z=20
    M117 Remove the Klack to continue calibration!

[gcode_macro PROBE_ACCURACY]
rename_existing: _PROBE_ACCURACY
gcode:
    {% if not 'xyz' in printer.toolhead.homed_axes %}
    G28
    {% endif %}
    PROBE_OUT
    G90
    G1 Y115 X115 F20000
    _PROBE_ACCURACY
    PROBE_IN

#[gcode_macro Z_TILT_ADJUST]
#rename_existing: _Z_TILT_ADJUST
#gcode:
  #  PROBE_OUT
   # Z_TILT_ADJUST
   # PROBE_IN


#####################################################################
#	KlackEnder- Menu
#####################################################################

[menu __main]
type: list
name: Main

[menu __main __KlackEnder]
type: list
enable: True
name: KlackEnder

[menu __main __KlackEnder __ProbeOut]
type: command
name: Probe Out
gcode:
    PROBE_OUT

[menu __main __KlackEnder __ProbeIn]
type: command
name: Probe In
gcode:
    PROBE_IN

[menu __main __KlackEnder __AutoBedMesh]
type: command
name: Auto Bed Mesh
gcode:
    G28
    BED_MESH_CALIBRATE ADAPTIVE=1

[screws_tilt_adjust]
screw1: 25,7
screw1_name: front left screw
screw2: 195,7
screw2_name: front right screw
screw3: 195,178
screw3_name: rear right screw
screw4: 25,178
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 100
screw_thread: CW-M4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 3.224
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 8.0
#*# max_x = 223.0
#*# min_y = 30.0
#*# max_y = 201.0
